 rect.uns_bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}

rect.sel_bordered {
  stroke: #000000;
  stroke-width:2px;   
}

text.mono {
  font-size: 8pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}